<form class='{{cssClass}}' autocomplete='off'>
  {{> journalEntryPageHeader}}
  <section class='hq-advantage'>
    <header class='section-header'>
      {{localize 'SWADE.Headquarters.Advantage'}}
    </header>
    <prose-mirror name="system.advantage" value="{{document.system.advantage}}" collaborate="true" data-document-uuid="{{document.uuid}}">
      {{{enriched.advantage}}}
    </prose-mirror>
  </section>
  <section class='hq-complication'>
    <header class='section-header'>
      {{localize 'SWADE.Headquarters.Complication'}}
    </header>
    <prose-mirror name="system.complication" value="{{document.system.complication}}" collaborate="true" data-document-uuid="{{document.uuid}}">
      {{{enriched.complication}}}
    </prose-mirror>
  </section>
  <section class='hq-form'>
    <header class='section-header'>
      {{localize 'SWADE.Headquarters.Form'}}
    </header>
    <div class='hq-description'>
      <header class='hq-form-part section-header'>
        {{localize 'SWADE.Headquarters.Description'}}
      </header>
      <prose-mirror name="system.form.description" value="{{document.system.form.description}}" collaborate="true" data-document-uuid="{{document.uuid}}">
        {{{enriched.form.description}}}
      </prose-mirror>
    </div>
    <div class='hq-acquisition'>
      <header class='hq-form-part section-header'>
        {{localize 'SWADE.Headquarters.Acquisition'}}
      </header>
      <prose-mirror name="system.form.acquisition" value="{{document.system.form.acquisition}}" collaborate="true" data-document-uuid="{{document.uuid}}">
        {{{enriched.form.acquisition}}}
      </prose-mirror>
    </div>
    <div class='hq-maintenance'>
      <header class='hq-form-part section-header'>
        {{localize 'SWADE.Headquarters.Maintenance'}}
      </header>
      <prose-mirror name="system.form.maintenance" value="{{document.system.form.maintenance}}" collaborate="true" data-document-uuid="{{document.uuid}}">
        {{{enriched.form.maintenance}}}
      </prose-mirror>
    </div>
  </section>
  <section class='hq-upgrades'>
    <header class='hq-upgrades section-header'>
      {{localize 'SWADE.Headquarters.Upgrades'}}
    </header>
    <prose-mirror name="system.upgrades" value="{{document.system.upgrades}}" collaborate="true" data-document-uuid="{{document.uuid}}">
      {{{enriched.upgrades}}}
    </prose-mirror>
  </section>
</form>