.card-picker {
  .card-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 0.25rem;
    list-style-type: none;
  }
  .card {
    min-width: 125px;
    max-width: 125px;
    flex-basis: auto;
    flex-grow: 1;
    padding: $medium-spacing;
    margin-bottom: 5px;
    text-align: center;
    figure {
      margin: 0;
    }
    img {
      height: 100px;
      display: block;
      margin: $medium-spacing auto;
      filter: drop-shadow(2px 3px 3px rgb(0 0 0 / 50%));
      transition: all 0.2s ease-out;
      border: none;
    }
    /* HIDE RADIO */
    [type='radio'] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    /* IMAGE STYLES */
    [type='radio'] + figure img {
      cursor: pointer;
      &:hover {
        transform: translateY(-$medium-spacing) scale(1.2);
      }
    }
    /* CHECKED STYLES */
    [type='radio']:checked ~ figure img {
      transform: translateY(-$medium-spacing) scale(1.2);
      filter:
        drop-shadow(2px 3px 3px rgb(0 0 0 / 50%))
        drop-shadow(0 0 5px red);
    }
    [type='radio']:checked ~ figure figcaption {
      font-weight: bold;
    }
  }
}
