.setting-config {
  .sheet-body {
    overflow-x: auto;
    padding-top: 3px;
  }

  .main-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: auto;
  }

  .form-group {
    --form-element-width: 270px;
    label {
      flex: 3;
    }
    .form-fields {
      flex: 0 0 var(--form-element-width);
      max-width: var(--form-element-width);
    }
    select {
      max-width: var(--form-element-width);
    }
  }

  /* Attributes */
  .stats-container {
    margin: 0px 5px;
    list-style: none;
    padding: 0;
  }

  .attribute {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 20px;
    grid-template-rows: auto;
    place-items: center;
    column-gap: 10px;
    line-height: 24px;
    padding: $medium-spacing 0;
    border-bottom: 1px solid #aaa;
    input,
    select {
      background: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #aaa;
    }
    & > * {
      text-align: center;
    }
    .attribute-key {
      grid-column: 1;
    }
    .attribute-label {
      grid-column: 2;
    }
    .attribute-dtype {
      grid-column: 3;
    }
    .attribute-maxValue {
      grid-column: 4;
    }
    .attribute-control {
      grid-column: 5;
    }
    .attribute-optionString {
      grid-column: 1/-1;
      grid-row: 2;
    }
  }

  .attributes-header {
    height: auto;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #aaa;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
  }

  footer {
    padding: $medium-spacing;
  }
}
