.doc-tweaks {
  .additionalStats-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #aaa;
    border-radius: 2px;
  }

  .tweaks-form {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .tab {
    padding-left: 3px;
    padding-right: 3px;
    scrollbar-gutter: stable both-edges;
  }

  .sheet-body {
    overflow-x: auto;
  }

  .swid {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    .regenerate-swid {
      flex: 0;
      margin-left: 0.5rem;
    }
  }
}
