<section
  class='{{tabs.cargo.tabCssClass}}'
  data-tab='cargo'
  data-group='primary'
>
  <span>
    <meter
      class='capacity-meter'
      min='0'
      max='{{actor.system.cargo.max}}'
      value='{{actor.system.cargo.value}}'
      high='{{multiply actor.system.cargo.max 0.8}}'
    >
      {{localize 'SWADE.Vehicle.Cargo.Capacity'}}:
      {{actor.system.cargo.value}}
      /
      {{actor.system.cargo.max}}
    </meter>
    <span class='header flexrow'>
      <span class='flex0'>
        {{localize 'SWADE.Vehicle.Cargo.Capacity'}}:
        {{actor.system.cargo.value}}
        /
        {{actor.system.cargo.max}}</span>
    </span>
  </span>
  <ul class='item-list'>
    <li class='item header'>
      <span class='img' aria-hidden='true'></span>
      <span class='name'>{{localize 'Name'}}</span>
      <span class='quantity'>{{localize 'SWADE.Quantity'}}</span>
      <span class='weight'>{{localize 'SWADE.Weight'}}</span>
      <span class='controls'>
        {{#if editable}}
          <a class='flex0' data-action='createCargo'>
            <i class='fa-solid fa-plus'></i>
            {{localize 'SWADE.Add'}}
          </a>
        {{/if}}
      </span>
    </li>
    {{#each actor.system.cargo.items as |item|}}
      <li
        data-item-id='{{item.id}}'
        data-document-class='Item'
        data-drag='true'
        class='item'
      >
        <img class='img' alt='{{item.name}}' src='{{item.img}}' />
        <a class='name' data-action='showItem'>
          {{item.name}}
        </a>
        <span class='quantity'>
          {{item.system.quantity}}
        </span>
        <span class='weight'>
          {{multiply item.system.weight item.system.quantity}}
        </span>
        <span class='controls'>
          <a role='button' data-action='openItem'>
            <i class='fa-solid fa-edit'></i>
          </a>
          {{!-- <a data-action='changeEquip'>
            <i
              class='{{lookup
                  @root.config.CONST.EQUIP_STATE_ICONS
                  item.system.equipStatus
                }}'
            ></i>
          </a> --}}
          {{#if @root.editable}}
            <a data-action='deleteItem'>
              <i class='fa-solid fa-trash'></i>
            </a>
          {{/if}}
        </span>
      </li>
    {{/each}}
  </ul>
</section>