<header class='header'>
  <button type='button' class='add-action add-button invisible'>
    <i class='fa fa-plus'></i>
    {{localize 'SWADE.AddAction'}}
  </button>
</header>
<ol class='actions-list unmarked-list collapsibles'>
  {{#each item.system.actions.additional as |action id|}}
    <li>
      <details
        class='action'
        data-action-id='{{id}}'
        {{collapsible @root.collapsibleStates.actions id}}
      >
        <summary>{{action.name}}</summary>
        <span class='content'>
          <div class='left'>
            <label class='float-label'>
              <input
                type='text'
                name='system.actions.additional.{{id}}.name'
                value='{{action.name}}'
                placeholder='{{localize "SWADE.Name"}}'
                {{disabled action.resolved}}
              />
              <span>{{localize 'SWADE.Name'}}</span>
            </label>
          </div>
          <div class='right'>
            <label class='float-label'>
              <select
                name='system.actions.additional.{{id}}.type'
                {{disabled action.resolved}}
              >
                {{selectOptions
                  @root.actionTypes
                  selected=action.type
                  localize=true
                }}
              </select>
              <span>{{localize 'Type'}}</span>
            </label>
          </div>
          <button
            type='button'
            class='action-delete invisible'
            title='{{localize "Delete"}}'
            data-action-id='{{id}}'
            {{disabled action.resolved}}
          >
            <i class='fas fa-trash fa-2x'></i>
          </button>
          {{#if (eq action.type 'trait')}}
            <div class='left'>
              <label class='float-label'>
                <input
                  type='text'
                  name='system.actions.additional.{{id}}.override'
                  value='{{action.override}}'
                  placeholder='{{localize "SWADE.AltTrait"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.AltTrait'}}</span>
              </label>
            </div>
            <div class='right'>
              <label class='float-label' title='{{localize "SWADE.ModHint"}}'>
                <input
                  type='text'
                  name='system.actions.additional.{{id}}.modifier'
                  value='{{action.modifier}}'
                  placeholder='{{localize "SWADE.RollExample"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.TraitMod'}}</span>
              </label>
            </div>
            <div class='left'>
              <label class='float-label'>
                <input
                  type='number'
                  name='system.actions.additional.{{id}}.dice'
                  value='{{action.dice}}'
                  placeholder='{{localize "SWADE.NumberOfDice.Label"}}'
                  data-tooltip='{{localize "SWADE.NumberOfDice.Hint"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.NumberOfDice.Label'}}</span>
              </label>
            </div>
            <div class='right'>
              <label class='float-label'>
                {{#if (eq @root.item.type 'weapon')}}
                  <input
                    type='number'
                    name='system.actions.additional.{{id}}.resourcesUsed'
                    value='{{action.resourcesUsed}}'
                    placeholder='{{localize "SWADE.ShotsUsed"}}'
                    {{disabled action.resolved}}
                  />
                  <span>{{localize 'SWADE.ShotsUsed'}}</span>
                {{else}}
                  <input
                    type='number'
                    name='system.actions.additional.{{id}}.resourcesUsed'
                    value='{{action.resourcesUsed}}'
                    placeholder='{{localize "SWADE.ResourcesUsed.Label"}}'
                    data-tooltip='{{localize "SWADE.ResourcesUsed.Hint"}}'
                    {{disabled action.resolved}}
                  />
                  <span>{{localize 'SWADE.ResourcesUsed.Label'}}</span>
                {{/if}}
              </label>
            </div>
          {{else if (eq action.type 'resist')}}
            <div class='left'>
              <label class='float-label'>
                <input
                  type='text'
                  name='system.actions.additional.{{id}}.override'
                  value='{{action.override}}'
                  placeholder='{{localize "SWADE.AltTrait"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.AltTrait'}}</span>
              </label>
            </div>
            <div class='right'>
              <label
                class='float-label right'
                title='{{localize "SWADE.ModHint"}}'
              >
                <input
                  type='text'
                  name='system.actions.additional.{{id}}.modifier'
                  value='{{action.modifier}}'
                  placeholder='{{localize "SWADE.TraitMod"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.TraitMod'}}</span>
              </label>
            </div>
          {{else if (eq action.type 'damage')}}
            <div class='left'>
              <label class='float-label'>
                <input
                  type='text'
                  name='system.actions.additional.{{id}}.override'
                  value='{{action.override}}'
                  placeholder='{{localize "SWADE.DmgOver"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.DmgOver'}}</span>
              </label>
            </div>
            <div class='right'>
              <label class='float-label' title='{{localize "SWADE.ModHint"}}'>
                <input
                  type='text'
                  name='system.actions.additional.{{id}}.modifier'
                  value='{{action.modifier}}'
                  placeholder='{{localize "SWADE.RollExample"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.DmgMod'}}</span>
              </label>
            </div>
            <div class='left'>
              <label class='float-label'>
                <input
                  type='number'
                  name='system.actions.additional.{{id}}.ap'
                  value='{{action.ap}}'
                  placeholder='{{localize "SWADE.ApOver"}}'
                  {{disabled action.resolved}}
                />
                <span>{{localize 'SWADE.ApOver'}}</span>
              </label>
            </div>
            <div class='form-group right'>
              <input
                id='{{@root.item.id}}-{{id}}-heavy-weapon'
                type='checkbox'
                name='system.actions.additional.{{id}}.isHeavyWeapon'
                {{checked action.isHeavyWeapon}}
                {{disabled action.resolved}}
              />
              <label for='{{@root.item.id}}-{{id}}-heavy-weapon'>
                {{localize 'SWADE.HeavyWeapon'}}
              </label>
            </div>
          {{else if (eq action.type 'macro')}}
            <div class='full-width'>
              <label class='float-label'>
                <input
                  type='text'
                  name='system.actions.additional.{{id}}.uuid'
                  value='{{action.uuid}}'
                  placeholder='UUID'
                  {{disabled action.resolved}}
                />
                <span>UUID</span>
              </label>
            </div>
            <div class='full-width'>
              <label class='float-label'>
                <select
                  name='system.actions.additional.{{id}}.macroActor'
                  {{disabled action.resolved}}
                >
                  {{selectOptions
                    @root.macroActorTypes
                    selected=action.macroActor
                    localize=true
                  }}
                </select>
                <span>{{localize 'DOCUMENT.Actor'}}</span>
              </label>
            </div>
          {{/if}}
        </span>
      </details>
    </li>
  {{/each}}
</ol>