<section
  class='{{tabs.supplies.tabCssClass}}'
  data-group='primary'
  data-tab='supplies'
>
  <fieldset>
    <legend>{{localize tabs.supplies.label}}</legend>
    {{formGroupSimple
      'system.supplyLevels.ammo'
      localize=true
      rootId=actor.uuid
    }}
    {{formGroupSimple
      'system.supplyLevels.fuel'
      localize=true
      rootId=actor.uuid
    }}
    {{formGroupSimple
      'system.supplyLevels.food'
      localize=true
      rootId=actor.uuid
    }}
    {{formGroupSimple
      'system.supplyLevels.supply'
      localize=true
      rootId=actor.uuid
    }}
  </fieldset>
</section>