<section
  class='{{tabs.description.tabCssClass}}'
  data-group='primary'
  data-tab='description'
>
  <fieldset>
    <legend>{{localize tabs.description.label}}</legend>
    {{formGroupSimple 'system.description' enriched=description toggled=true}}
  </fieldset>
</section>