.game.theme-dark {
  .application.sheet.swade.actor.vehicle {
    .attributes .attribute .die {
      filter: invert(0.8);
    }
    [data-application-part='cargo'] {
      .item-list .item:not(.header):nth-child(even) {
        background-color: var(--color-cool-4);
      }
    }
  }
}

.game.theme-light {
  [data-application-part='cargo'] {
    .capacity-meter {
      &::-webkit-meter-bar {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .item-list .item:not(.header):nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.application.sheet.swade.actor.vehicle {
  .section-header {
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    a.helper-button {
      font-size: 12px;
      vertical-align: middle;
    }
  }
  ul.item-list,
  ul.effect-list,
  ul.effect-section {
    list-style: none;
    padding: 0;
    margin: 0;
    li img {
      width: 28px;
      flex: 0 0 32px;
      margin-right: 4px;
    }
    .controls {
      flex: 0 0 50px;
    }
  }
  [data-application-part='header'] {
    .sheet-portrait {
      flex: 0 0 120px;
      img {
        border: none;
        cursor: pointer;
      }
    }
    .name {
      margin-bottom: 2px;
      line-height: 36px;
      input {
        font-size: 32px;
        &:not(:focus) {
          background: none;
          border: none;
        }
      }
    }
    .vehicle-stats {
      .label {
        line-height: 22px;
        font-size: 20px;
        text-align: center;
      }
      .divider {
        flex: 0 0 10px;
        font-size: 24px;
        margin-left: 4px;
      }
      .max:not(:focus) {
        background: none;
        border: none;
      }
      .flexrow {
        text-align: center;
      }
      margin: 0 3px;
    }
    .classification {
      margin-top: 2px;
      input:not(:focus) {
        background: none;
        border: none;
      }
    }
    .vehicle-status {
      flex: 0 0 150px;
      .form-fields {
        flex: 0 0 40px;
      }
    }
  }
  [data-application-part='traits'] {
    align-items: start;
    .mods {
      margin-bottom: 15px;
    }
    .attributes {
      margin-bottom: 15px;
      .attribute-list {
        display: flex;
      }
      .attribute-label {
        text-align: center;
      }
      .attribute {
        --height: 28px;
        text-align: center;
        margin: 0;
        line-height: var(--height);
        margin-top: 2px;
        flex-wrap: nowrap;
        border: none;
        border-bottom: 1px dashed black;
        border-radius: 4px;
        button {
          border: none;
          background-color: transparent;
        }
        .die {
          border: none;
          height: var(--height);
          filter: brightness(0.5);
        }
        .modifier {
          margin: 0;
          width: 100%;
          font-size: 1.25em;
          line-height: var(--height);
        }
      }
    }
    .derived {
      margin-bottom: 15px;
      .derived-stat {
        margin: 0 3px;
        text-align: center;
        &.size {
          flex: 0 0 40px;
        }
        &.handling {
          flex: 0 0 50px;
        }
        &.top-speed {
          flex: 0 0 90px;
          .flexrow {
            gap: 5px;
            .speed-unit {
              flex: 0 0 35px;
            }
          }
        }
      }
      .additional-stats {
        margin-top: 5px;
        .form-group {
          margin: 2px 0;
          .check-container {
            line-height: 20px;
          }
        }
      }
    }
  }
  [data-application-part='crew'] {
    align-items: start;
    .reset-driver {
      flex: 0 0 20px;
    }
    .add-driver {
      margin: 5px;
    }
    .right {
      .form-group {
        margin: 5px 0;
      }
    }
  }
  [data-application-part='cargo'] {
    .header {
      justify-content: space-between;
      white-space: nowrap;
    }
    .capacity-meter {
      width: 100%;
      &::-webkit-meter-optimum-value {
        background-color: var(--color-level-info-bg);
      }
      &::-webkit-meter-suboptimum-value {
        background-color: var(--color-level-warning-bg);
      }
    }
    .item-list {
      .item {
        display: grid;
        grid-template-columns: 2rem 1fr 0.2fr 0.2fr 50px;
        grid-template-areas: 'img name quantity weight controls';
        gap: 0.25rem;
        align-items: center;
        &.header {
          border-bottom: 1px groove var(--color-fieldset-border);
        }
        .img {
          grid-area: img;
          margin-right: 4px;
          max-width: 2rem;
          max-height: 2rem;
          border: none;
        }
        .name {
          grid-area: name;
        }
        .quantity {
          text-align: center;
          grid-area: quantity;
        }
        .weight {
          text-align: center;
          grid-area: weight;
        }
        .controls {
          grid-area: controls;
        }
      }
    }
  }
}
