<div class="flexrow">
  {{!-- Left panel --}}
  <div class="gear">
    {{#if hasAdditionalStatsFields}}
      <section>{{> "swade.npc-setting"}}</section>
    {{/if}}
    <section>
      <header class="header-field flexrow">
        <div>{{ localize "SWADE.Effects" }}</div>
        <div class="header-field-add">
          <a class="add-effect" data-transfer="false"><i class="fa fa-plus"></i></a>
        </div>
      </header>
      {{> "swade.effect-list"}}
    </section>
    {{#if settingrules.vehicleEdges}}
      <section>
        <header class="header-field flexrow">
          <div>
            <span>{{localize "SWADE.Edges"}}</span>
          </div>
          <div class="header-field-add">
            <a class="item-create" data-type="edge"><i class="fa fa-plus"></i></a>
          </div>
        </header>
        <span class="quickaccess-list">
          <ol class="gear-list items-list">
            {{#each itemsByType.edge}}
              {{> "swade.misc-card" item=this owner=../owner}}
            {{/each}}
          </ol>
        </span>
      </section>
      <section>
        <header class="header-field flexrow">
          <div>
            <span>{{localize "SWADE.Hindrances"}}</span>
          </div>
          <div class="header-field-add">
            <a class="item-create" data-type="hindrance"
              ><i class="fa fa-plus"></i
            ></a>
          </div>
        </header>
        <span class="quickaccess-list">
          <ol class="gear-list items-list">
            {{#each itemsByType.hindrance}}
              {{> "swade.misc-card" item=this owner=../owner}}
            {{/each}}
          </ol>
        </span>
      </section>
            <section>
        <header class="header-field flexrow">
          <div>
            <span>{{localize "SWADE.SpecialAbility"}}</span>
          </div>
          <div class="header-field-add">
            <a class="item-create" data-type="ability"
              ><i class="fa fa-plus"></i
            ></a>
          </div>
        </header>
        <span class="quickaccess-list">
          <ol class="gear-list items-list">
            {{#each itemsByType.ability}}
              {{> "swade.misc-card" item=this owner=../owner}}
            {{/each}}
          </ol>
        </span>
      </section>
    {{/if}}
  </div>
  {{!-- Right panel --}}
  <div class="gear">
    <section class="flexrow" id="driver-bar">
      {{> "swade.vehicle-vitals"}}
    </section>
    <section>
      {{#if settingrules.modSlots}}
        <div id='modBox'>
          <div class='bar-container'>
            <span class='text'>{{mods.used}}/{{actor.system.mods.max}}
              {{localize 'SWADE.Mods'}}</span>
            <div class='bar' style='width: {{mods.percentage}}%;'></div>
          </div>
        </div>
      {{/if}}
      <header class="header-field flexrow">
        <div>
          <span>{{localize "SWADE.Mods"}}</span>
        </div>
        <div class="header-field-add">
          <a class="item-create" data-type="mod"><i class="fa fa-plus"></i></a>
        </div>
      </header>
      <span class="quickaccess-list">
        <ol class="gear-list items-list">
          {{#each itemsByType.gear}}
            {{#if (and system.isVehicular (gt system.equipStatus @root.equipStatusEnum.CARRIED))}}
              {{> "swade.misc-card" item=this owner=../owner}}
            {{/if}}
          {{/each}}
        </ol>
      </span>
    </section>
    <section>
      <header class="header-field flexrow">
        <div>
          <span>{{localize "SWADE.Weapons"}}</span>
        </div>
        <div class="header-field-add">
          <a class="item-create" data-type="vehicle-weapon"
            ><i class="fa fa-plus"></i
          ></a>
        </div>
      </header>
      <span class="quickaccess-list">
        <ol class="gear-list weapon-list">
          {{#each itemsByType.weapon as |item|}}
            {{#if (and system.isVehicular (gt system.equipStatus @root.equipStatusEnum.CARRIED))}}
              {{> "swade.weapon-card" item=item owner=../owner}}
            {{/if}}
          {{/each}}
        </ol>
      </span>
    </section>
  </div>
</div>
